* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    text-decoration:none;
    color:#000000;
}

div.header-background {
    width: 100%;
    height: 850px;
    display:inline-block;
    background-image: url("../images/vintage-books.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav.top-nav {
    margin-top: 45px;
    color: #ffffff;
    width: 100%;
    height: 50px;
}

nav p.brand {
    display: inline-block;
    font-size: 25px;
    margin-left: 90px; 
    cursor: pointer;
}

nav ul.nav-primary {
    float: right;
    margin-right: 120px;
}

nav ul.nav-primary li {  
    display: inline-block;
    list-style: none;
    margin-right: 30px;
    text-transform: uppercase;
    padding: 18px 0px 5px 0px;        
}

nav ul.nav-primary li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul.nav-primary li:hover {
    cursor: pointer;
    border-bottom: 2px solid #70e9ff;   
}
 
header {
    text-align: center;
}

h1.header-title {
    text-transform: capitalize;
    font-weight: 100;
    margin-top: 210px;
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 40px;
}

h3.header-subtitle {
    text-align: center;
    font-weight: 100;
    color: #ffffff;   
}

div.books-search {
    width: 100%;
    background: #fafafa;
}

div.container {
    width: 100%;
    padding: 25px 0px 25px 0px;
    text-align: center;
}

div.books-group {
    display: inline-block;
    margin-right: 15px;
	margin-bottom: 7px;
}

.tipes-control {
    padding: 5px;
    width: 265px;
    border-radius: 5px;
    border: none;
    background: #eaf1fc;
    color:#6f737a;
}

button.btn {
    padding: 5px;
    width: 265px;
    border-radius: 20px;
    border: none;
    background-color: #313335;
    color:#fafafa;
    text-transform: uppercase;
}

button.btn:hover {
    opacity: 0.8;
    cursor: pointer;  
}

section.main-books {
    text-align: center;
}

section.main-books h2 {
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: lighter;
    padding-top:30px;
}

div.articles-container {
    width: 100%;
    margin-top: 50px;
    text-transform: capitalize;
    
}

div.articles-container article {
    display: inline-block;
    margin-left: 10px;
    border: 1px solid #A6D0DE;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    background-color: #fafafa;
	margin-bottom: 10px;
}

article img.popular-books {
    width: 180px;
    height: 245px;
    border:1px solid #A6D0DE;
    padding: 5px;
    box-shadow: 10px 10px 5px #888888;
}

article img.popular-books:hover {
    opacity: 0.8;
    cursor: pointer;
}

article h4.book-name {
    margin: 20px 0 20px 0;
    font-weight: lighter;
}

article h5.book-author {
    margin: 20px 0 20px 0;
    font-weight: lighter;
    color:#c4cad3;
}

article button.details {
    background: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px;
    border-right: none;
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

article button.buy {
    background: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
    border-left: 1px solid grey;
    margin-left: -5px;
    margin-bottom:10px;
    text-transform: uppercase;
    cursor: pointer;
}

article button.buy:hover {
    background-color:#a0aaba;
    cursor: pointer;
}

article button.details:hover {
    background-color:#a0aaba;
    cursor: pointer;
}

article button.buy:hover a {
    color:#ffffff;
}

article button.details:hover a {
    color:#ffffff;
}

section.browse-collection {
    opacity: 0.8;
    text-align: center;
    width: 100%;
    background-image: url("../images/books-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.4);
	padding-bottom: 113px;
}

section.browse-collection h2 {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: lighter;
    padding-top: 110px;
    margin-bottom: 10px;
    color: #fafafa;
}

section.browse-collection h3 {
    text-transform: uppercase;
    font-weight: lighter;
}

section.browse-collection h3 a.collection:hover {
color:#fafafa;
cursor: pointer;
}

div.collection-info {
    width: 100%;
    margin-top: 80px;
    padding-bottom: 100px;
    text-align: center;
}

section.books-info-section {
	width: 100%;
	text-align: center;
}

section.books-info {
    display: inline-block;
    width: 32%;
    height: 200px;
    text-align: center;
    margin-top:30px;
	vertical-align: top;
}

section img.icon-one-size {
	width: 78px;
	height: 78px;
    margin-bottom: 10px;
}

section.books-info h2 {
    margin-bottom: 15px;
    font-weight: lighter;
}

section.books-info p {
    color:#6a6f77;
    line-height: 1.5;
}

section.feautured-book {
    margin-top: 130px;
    text-align: center;
    background-color: #fafafa;
}

div.best-book {
    width: 90%;
    margin: 0 auto;
    text-transform: capitalize;
    display: inline-block;  
}

div.best-book h1{
    margin-bottom: 20px;
    color: #c4cad3;
    text-transform: capitalize;
    font-weight: lighter;
}

div.best-book h2 {
    text-transform: capitalize;
    font-weight: lighter;
}

div.best-book h3 {
    font-size:14px;
    color: #c4cad3;
    text-transform: capitalize;
    font-weight: lighter;
}

div.best-book article {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    line-height: 1.5;
    margin-top: 30px;
    text-align: left;
}

div.blog-container article {
    display: inline-block;
    margin-left: 10px;
    padding: 20px 20px 0px 20px;  
}

img.book-front-cover{
    width: 333px;
    height: 431px;
    display: inline-block;
}

button.read-more {
    margin-top: 20px;
    background-color: #313335;
    line-height: 30px;
    border-radius: 20px;
    border: 2px solid #313335;
	padding: 5px;
}

button.read-more:hover {
    background-color:#fafafa;
    cursor: pointer;
    border: 2px solid #313335;
}

button.read-more a {
    color:#fafafa;
    text-transform: uppercase;
}

button.read-more:hover a {
    color: #222222;
 }


section.blog-section {
    text-align: center;
    background-color: #fafafa;
    border-top: 2px dashed #EBEBEB;
    border-bottom: 2px dashed #EBEBEB;
}

section.blog-section h1 {
    margin-bottom: 20px;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: lighter;
    padding-top: 40px;
}

div.blog-container {
    width: 90%;
    margin: 0 auto;
    text-transform: capitalize;
    
}

article img.blog-books {
    width: 242px;
    height: 120px;
}

article h2.blog-theme {
    margin: 10px 0 10px 0;
    font-weight: lighter;
    font-size: 18px;
    text-align: left;
}

article h3.blog-date {
    font-weight: lighter;
    font-size: 15px;
    color:#c4cad3;
    text-transform: uppercase;
    text-align: left;
}

section.blog-section article p {
    text-align: left;
    font-weight: lighter;
    font-size: 14px;
    box-shadow: 0 0 black;
    margin-top: 30px;
    width: 243px;
    padding-bottom: 30px;
}

section.feautured-book article p {
    text-align: left;
    font-weight: lighter;
    font-size: 14px;
    box-shadow: 0 0 black;
    margin-top: 30px;
}

section.books-discount {
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

section.books-discount img {
    width: 100%;
}

footer {
    color:#fafafa;
    width: 100%;
    margin-top: 30px;
    padding: 50px 0 20px;
    text-align: center;
    background: #2f2b35;
    text-transform: capitalize;
}

nav.bottom-nav ul li {
    display: inline-block;
    margin-right: 10px;     
}

nav.bottom-nav ul li a {
    color: #fafafa;
}

nav.bottom-nav ul li:hover a {
    color: #a7a7a7;
}

footer p.copyright {
    font-size: 14px;
    margin-top: 30px;
}

@media screen and (max-width: 989px) {
    div.best-book article {
		width: 49%;
    }
	div.best-book article.image-container {
		text-align: right;
	}
}
@media screen and (max-width: 689px) {
    div.best-book article {
		width: 100%;
    }
	div.best-book article.image-container {
		text-align: center;
	}
	div.best-book article {
		text-align: center;
	}
}
@media screen and (max-width: 518px) {
	section.books-info {
		width: 66%;
		vertical-align: inherit;
	}
	img.book-front-cover {
    width: 300px;
    height: 400px;
	}
}
