@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

#blog{
    margin: 0;
    padding: 0;
}

header{
    margin: 0;
    padding: 0;
}

.blog-name-page{
    background-color: #515570;
    margin: 0;
}

.blog-name-page>h1{
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 0;
    color: white;
    text-align: center;
    font-size: 5em;
}

.blog-name-page>p{
    margin-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 0;
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 2em;
}

.blog-name-page>p>a{
    text-decoration: none;
    color: white;
}

.blog-name-page>p>a:hover{
    color: #91d2ff;
}

.blog-search{
    background-color: white;
    padding: 15px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blog-search>form{
    margin: auto;
    max-width: 90%;
}

.blog-search>form>input,
.blog-search>form>select{
    background-color: #f3f3f3;
    width: 250px;
    margin-right: 50px;
    padding: 5px 10px;
    color: #646464;
    border: none;
}

.blog-search>form>input:focus,
.blog-search>form>select:focus{
    outline: none;
}


.btn-find-book{
    padding: 7px 50px;
    background-color: black;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-find-book:before{
    font-family: FontAwesome, serif;
    content: "\f002";
    margin-right: 10px;
}

#main-blog{
    background-color: #e7e7e7;
    padding: 50px 100px;
    height: 100%;
}

#main-blog>.container{
    width: 90%;
    margin: auto;
}

.articles{
    display: inline-block;
}

#main-blog>div>div>article{
    max-width: 650px;
    margin-right: 0;
    margin-bottom: 30px;
    background-color: white;
    display: block;
    border-radius: 5px;
    padding:45px 50px 25px 50px;
    box-sizing: border-box;
}

article>time{
    color: #a7a7a7;
}

article>h2{
    margin: 0 0 5px;
    padding: 0;
    color: #222222;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.35;
    text-transform: capitalize;
}

.posted-by{
    font-size: 13px;
    font-style: italic;
    display: block;
    color: #757575;
}

article>figure{
    margin: 0;
    margin-top: 35px;
    background: #f5f5f5;
    text-align: center;
    border-radius: 2px;
}

.article-image{
    width: 100%;
}

.article-content>p{
    font-family: "Montserrat", sans-serif;
    color: #757575;
    margin-bottom: 30px;
    line-height: 1.2em;
}

#asside-blog{
    padding-left: 20px;
    display: inline-block;
    float: right;
    min-width: 340px;
}